{% extends 'e_commerce/menu.html' %}
{% block content %}
    <body>
        <div class="d-flex justify-content-between align-items-center mb-3">
                </div>
                <table class="table table-sm table-striped">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>nom</th>
                            <th>prix</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <td>test</td>
                                <td>test</td>
                                <td>test €</td>
                                <td>
                                    <button class="btn btn-danger">supprimer</button>
                                </td>
                            </tr>
                    </tbody>
                </table>
    </body>
{% endblock %}