{% extends 'e_commerce/menu.html' %}
{% block content %}
    <body>
        <div class="d-flex justify-content-between align-items-center mb-3">
                </div>
                <table class="table table-sm table-striped">
                    <thead>
                        <tr>
                            <th>id</th>
                            <th>nom</th>
                            <th>prix</th>
                            <th>actions</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for paniers in panier %}
                            <tr>
                                <td>{{ paniers.produit.id }}</td>
                                <td>{{ paniers.produit.titre }}</td>
                                <td>{{ paniers.produit.prix }} €</td>
                                <td>
                                    <a href="{% url 'e_commerce:enleverProduit' paniers.id %}" class="btn btn-danger">supprimer</a>
                                </td>
                            </tr>
                    {% endfor %}
                    </tbody>
                </table>
    <h3>Total = {{ total }} €</h3>
    </body>
{% endblock %}